# yaml-language-server: $schema=../../../schema/schema.json
telemetry:
  # Opt out of reporting anonymized usage metrics to PowerSync telemetry service
  disable_telemetry_sharing: false

# Settings for source database replication
replication:
  connections:
    - type: mongodb
      uri: !env PS_DATA_SOURCE_URI
      post_images: auto_configure

# Connection settings for sync bucket storage
storage:
  type: mongodb
  uri: !env PS_MONGO_URI

# The port which the PowerSync API server will listen on
port: !env PS_PORT

# Specify sync rules
sync_rules:
  path: sync_rules.yaml

# Client (application end user) authentication settings
client_auth:
  # JWKS URIs can be specified here
  jwks_uri: !env PS_JWKS_URL

  audience: ["powersync-dev", "powersync"]

api:
  tokens:
    # These tokens are used for local admin API route authentication
    - use_a_better_token_in_production
