# Copy this template: `cp .env.local.template .env.local`
# Edit .env.local and enter your project details.
VITE_BACKEND_URL=http://localhost:6060
VITE_POWERSYNC_URL=http://localhost:8080
VITE_CHECKPOINT_MODE=managed
