# Copy this template: `cp .env.local.template .env.local`
# Edit .env.local and enter your Supabase and PowerSync project details.
VITE_BACKEND_URL=https://demo-backend:6060
VITE_POWERSYNC_URL=https://foo.powersync.journeyapps.com
