# yaml-language-server: $schema=https://unpkg.com/@powersync/service-sync-rules@latest/schema/sync_rules.json
#
# See Documentation for more information:
# https://docs.powersync.com/usage/sync-rules
#
# Note that changes to this file are not watched.
# The service needs to be restarted for changes to take effect.

config:
  edition: 3

streams:
  user_data:
    auto_subscribe: true
    with:
      user_lists_param: SELECT id AS list_id FROM lists WHERE owner_id = auth.user_id()
    queries:
      - "SELECT lists.* FROM lists, user_lists_param AS bucket WHERE lists.id = bucket.list_id"
      - "SELECT todos.* FROM todos, user_lists_param AS bucket WHERE todos.list_id = bucket.list_id"
