# yaml-language-server: $schema=../../../schema/schema.json

# See https://docs.powersync.com/self-hosting/telemetry
telemetry:
  # Opt out of reporting anonymized usage metrics to PowerSync telemetry service
  disable_telemetry_sharing: false

# Settings for source database replication
replication:
  connections:
    - type: postgresql
      uri: !env PS_DATA_SOURCE_URI

      # SSL settings
      sslmode: disable # 'verify-full' (default) or 'verify-ca' or 'disable'

# Connection settings for sync bucket storage
storage:
  type: mongodb
  uri: !env PS_MONGO_URI

# The port which the PowerSync API server will listen on
port: !env PS_PORT

# Specify sync rules
sync_rules:
  path: sync_rules.yaml

# Client (application end user) authentication settings
client_auth:
  # Enable Supabase Auth - PowerSync will fetch public keys from Supabase's JWKS endpoint
  supabase: true
  # Note: With asymmetric signing keys (ES256), the JWT secret is not needed. "kong" is Supabase's networking container
  jwks_uri: http://kong:8000/auth/v1/.well-known/jwks.json

  # JWKS audience
  audience: ["authenticated"]
